@model List<Category>


<div class="card border-primary mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title mt-3">Create Category</h4>
            </div>
            <div class="col-md-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary btn-outline-primary"><i class="bi bi-plus-circle"></i> Add New Cetogory</a>

            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Category Name</th>
                        <th class="text-center">Display Order</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
                    {
                        <tr>
                            <td class="text-center">
                                @obj.Name
                            </td>
                            <td class="text-center">@obj.DisplayOrder</td>
                            <td class="text-center">
                                <a asp-action="EditCategory" asp-route-Id="@obj.Id" asp-controller="Category"><i class="bi bi-pen"></i></a>&ensp; &ensp;
                                <a asp-action="DeleteCategory"  asp-controller="Category" asp-route-Id="@obj.Id" ><i class="bi bi-trash3"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
